/* O SIMPLES É O MAIS DIFÍCIL */

/* Subpágina contida na Home*/

/*******************************************************************************************************/
/*                          LISTA DE OUTRAS CONVERSAS (exibida na coluna c1)                           */
/*******************************************************************************************************/
.c1 .lista_espacos_container {
    width: 100%;
    height: calc(100% - 89px); /* PROVISÓRIO: Enquanto o cabeçálio está dentro da lista*/
    width: 100%;
    overflow-y: auto;
}
/* Texto sobre a lista de espaços (tasc tasc...) */
.lista_espacos_container .cabecalio {
    margin: 31px 0 0 4px; /* CORRIGIR: O cabeçálio deve ficar fora da div da lista */
    color: #999;
    font-size: 13px;
}
.lista_espacos_container .item_lista {
    display: block;
    padding: 18px 4px 10px 10px;
    background: #efefef;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 4px;
    color: #5d677a;
}
.lista_espacos_container .item_lista:hover{
    background: #e8e8e8;
    color: #3e4859;
}
/* Número de novas mensagens nas conversas listadas */
.numero_msgs_espaco_listado {
    float: right;
    margin: -18px 0 0 8px;
    border: 1px solid transparent; /* Gambi para não sobrepor no chrome */
}
.numero_msgs_espaco_listado .icone {
    display: inline-block;
    background-image: url('backgrounds/message_list.png');
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    background-size: 12px;
    margin: 0 2px -2px 0;
    opacity: 0.8;
}
.numero_msgs_espaco_listado .numero {
    display: inline-block;
    font-size: 12px;
    color: #777;
}
/* Número de outros usuários nas conversas listadas */
.numero_usuarios_espaco_listado {
    float: right;
    margin: -18px 0 0 8px;
    border: 1px solid transparent; /* Gambi para não sobrepor no chrome */
}
.numero_usuarios_espaco_listado .icone {
    display: inline-block;
    background-image: url('backgrounds/user_list.png');
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    background-size: 11px;
    margin: 0 2px -1px 0;
    opacity: 0.8;
}
.numero_usuarios_espaco_listado .numero {
    display: inline-block;
    font-size: 12px;
    color: #777;
}

/*******************************************************************************************************/
/*                                   AJUSTES DO LAYOUT RESPONSIVO                                      */
/*******************************************************************************************************/