/* O SIMPLES É O MAIS DIFÍCIL */

/* Sub página contida na Home*/

/* Mensagem exibida quando não tem nenhum espaço aberto */
.c2_msg_nenhum_espaco {
    margin: 25px 0 0 15px;
    color: #586782;
}
/******************************************************************************************************/
/*                          CABEÇÁLIO DO  ESPAÇO ATIVO (exibido na coluna c2)                         */
/******************************************************************************************************/
.espaco_cabecalio {
    width: 100%; /* LLLLLLLLLLLLLLLLL F5 */
    height: 46px;
    margin-left: 0; /* LLLLLLLLLLLLLLLLLL F5 */
    font-weight: 700;
    color: #3e4859;
    position: relative; /* Para posicionar a catraca*/
}
/* Nome do espaço */
.espaco_cabecalio .titulo {
    float: left;
    font-size: 22px;
    padding: 14px 4px 2px 4px;
    /* Para que o título não cresça indefinidamente para a direita*/
    max-width: 60%; /* LAYOUT RESPONSIVO */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.espaco_cabecalio .titulo:hover {
    cursor: pointer;
}
/* Incones para sinalização de configurações */
.espaco_cabecalio .icone_espaco_invisivel {
    width: 24px;
    height: 24px;
    background-size: 24px;
    background-image: url('backgrounds/invisible2.png');
    margin: 15px 0 0 4px;
    float: left;
}
.espaco_cabecalio_menu {
    float: right;
    padding-top: 20px;
}
.espaco_cabecalio_sair {
    float: left;
    margin-left: 4px;
    font-size: 15px;
    padding: 3px 8px;
    border-radius: 10px;
}
.espaco_cabecalio_sair:hover {
    cursor: pointer;
    background-color: #e5e5e5;
    font-weight: bold;
}
/* Botão das opções (...)*/
.espaco_cabecalio .opcoes_btn {
    display: none;
    float: left;
    padding: 0 8px;
    border-radius: 10px;
    margin-left: 4px;
    font-size: 18px;
    font-weight: bold;
}
.espaco_cabecalio .opcoes_btn:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

/******************************************************************************************************/
/*                        CATRACA (Notificação de entrada no topo da conversa)                        */
/******************************************************************************************************/
.espaco_cabecalio .catraca_container_geral {
    position: absolute;
    margin: 46px 2px 0 2px; /* LAYOUT RESPONSIVO */
    width: calc(96% - 4px); /* LAYOUT RESPONSIVO */
}
.espaco_cabecalio .catraca_container {
    display: none;
    margin-top: 4px;
    transition: opacity 1s; /* Para o efeito fade-out */
}
.espaco_cabecalio .catraca_subcontainer {
    padding: 4px 2%; /* LAYOUT RESPONSIVO */
    border-radius: 0; /* LAYOUT RESPONSIVO */
    margin-left: 0; /* LAYOUT RESPONSIVO */
    font-size: 13px;
    width: 100%; /* LAYOUT RESPONSIVO */
    background-color: #f2f2f2;
    box-shadow: 1px 1px 2px #aaa;
}
.espaco_cabecalio .catraca_subcontainer .pic {
    float: left;
    background-image: url('backgrounds/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: 32px;
    border-radius: 50%;
    margin: 2px 4px 2px 4px;
}
.espaco_cabecalio .catraca_subcontainer .nome {
    display: inline-block; /* Para que o texto não quebre */
    font-weight: bold;
    padding-top: 2px;
}
.espaco_cabecalio .catraca_subcontainer .sentido {
    color: #888;
}

/******************************************************************************************************/
/*                                      ÁREA DE EXIBIÇAO DA CONVERSA                                  */
/******************************************************************************************************/
.espaco_mensagens_container {
    width: 100%; /* LLLLLLLLLLLLL F5 */ /* Layou responsivo */
    margin-left: 0; /* LLLLLLLLLLLLL F5 */ /* Layou responsivo */
    padding-top: 10px;
    height: calc(100% - 178px);
    border-radius: 4px;
    /*background: linear-gradient(to bottom right, #d7f2d7, #c3dbc3); /*#d7f2d7, #c3dbc3*/ /*#c9e5c9, #bcd8bc*/
    background: url('backgrounds/polygon2.png'); /* LLLLLLLLLLLLLLLLL F5*/
    overflow-y: auto;
}
/* Mensagens do usuário */
.user_message_container {
    display: block;
    clear: both;
    float: right;
    max-width: 70%;
    background: #673ab7;/*#e91e63; ringo #673ab7; perple #00acc1; ciano #fbc02d; amarelo #607d8b; bgrey /* LLLLLLLLLLLLLLLLLLLLLL F5 */
    /*color: #fff;/* LLLLLLLLLLLLLLLLLLLLLLL OUT */
    border-radius: 12px; /* LLLLLLLLLLLLLLLLLLLL F5 */
    box-shadow: 1px 1px 2px #aaa;
    margin: 2px 4%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
}
.user_message_container .cabecalio {
    font-size: 13px;
    padding: 2px 8px;
}
.user_message_container .nome {
    float: left;
    color: #888;
}
.user_message_container .separador { /* NÃO É UTILIZADO */
    float: left;
    color: #888;
    margin: 0 5px 0 5px;
}
.user_message_container .horario {
    float: left;
    color: #ffee99;/* LLLLLLLLLLLLLLLLLLL F5*//*#888*/
    font-size: 12px;
}
.user_message_container .texto {
    clear: left;
    padding: 2px 8px 6px 8px;
    color: #fff;/* LLLLLLLLLLLLLLLLLLLLLL F5*//*#333;*/
    font-size: 14px;
}
/* Mensagens de outros usuários */
.other_user_message_container {
    display: block;
    clear: both;
    float: left;
    max-width: 70%;
    background: rgba(255,255,255,1); /* LLLLLLLLLLLLLLLL F5 *//*#f9f4c2*/
    /*color: #3e4859;*/ /* LLLLLLLLLLLLLLLLLLLL OUT */
    border-radius: 12px; /* LLLLLLLLLLLLLLLLLLLL F5 */
    box-shadow: 1px 1px 2px #aaa;
    margin: 2px 4%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
}
.other_user_message_container .cabecalio {
    font-size: 13px;
    padding: 2px 8px;
}
.other_user_message_container .nome {
    float: left;
    color: #666;
}
.other_user_message_container .separador {
    float: left;
    color: #888;
    margin: 0 5px 0 5px;
}
.other_user_message_container .horario {
    float: left;
    color: #888;
    font-size: 12px;
}
.other_user_message_container .texto {
    clear: left;
    padding: 2px 8px 6px 8px;
    color: #353535; /* LLLLLLLLLLLLLLLLLL F5 */
    font-size: 14px;
}

/******************************************************************************************************/
/*                                 ÁREA DE DIGITAÇÃO E ENVIO DE MENSAGENS                             */
/******************************************************************************************************/
.espaco_area_texto {
    width: 100%; /* LLLLLLLLLLLLL F5 */ /* Layou responsivo */
    margin-left: 0; /* LLLLLLLLLLLLL F5 */ /* Layou responsivo */
    background-color: #eae5e1;
    height: 46px;
    padding: 9px 0;
    border-radius: 4px;
}
.espaco_area_texto input[type=text] {
    width: calc(100% - 98px);
    padding: 13px 10px;
    margin: 0 10px 0 14px;
    border: none;
    border-radius: 8px;
    background-color: #f5f5f5;
}
.espaco_area_texto input[type=submit] { /* LLLLLLLLLLLLLLLLL F5 */
    background: #673ab7 url('backgrounds/send4.png');
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    background-size:42px;
    border: none;
    border-radius: 50%;
    padding: 10px 0 0 4px;
}
.espaco_area_texto input[type=submit]:hover {
    background-color: #4527a0; /* LLLLLLLLLLLLLLLLLLLLL F5 */
}
.area_texto_item {
    float: left;
}

/******************************************************************************************************/
/*                                   AJUSTES DO LAYOUT RESPONSIVO                                     */
/******************************************************************************************************/

@media screen and (min-width: 640px) { /* LLLLLLLLLLLLLLLLLLLL NOVO */
    .espaco_cabecalio {
        width: 99%;
        margin-left: 1%;
    }
    .espaco_mensagens_container {
        width: 99%;
        margin-left: 1%;
    }
    .espaco_area_texto {
        width: 99%;
        margin-left: 1%;
    }
}

@media screen and (min-width: 1024px) {
    .espaco_cabecalio .titulo {
        max-width: 70%;
    }
    .espaco_cabecalio .catraca_container_geral {
        margin: 46px 0 0 50%;
        width: auto;
    }
    .espaco_cabecalio .catraca_subcontainer {
        margin-left: -50%;
        padding: 4px 10px 4px 4px;
        border-radius: 4px;
    }
}
