/* O SIMPLES É O MAIS DIFÍCIL */

/* Sub página contida na Home*/

/* Espaço vazio sobre a coluna c3, apenas para nivelar com o início do espaço exibido na c2 */
.cabecalio_c3 {
    width: 100%;
    height: 47px; /* LAYOUT RESPONSIVO */
    /*background-color: #efea88;*/
}
/**************************************************************************************************/
/*                            INFOS SOBRE O ESPAÇO E LISTA DE USUÁRIOS                            */
/**************************************************************************************************/
.info_espaco_container {
    /*display: none;*/ /* YYYYYYYYYYYYYYYYYYYYYYY NOVO */
    float: left; /*###################### F5*/
    width: 99%; /*###################### F5*/ /* LAYOUT RESPONSIVO */
    height: calc(100% - 105px); /*###################### F5*/ /* LAYOUT RESPONSIVO? */
    /*max-height: 500px; /*###################### F5*/
    margin-left: 1%; /*###################### F5*/
    /*margin-top: 4px;*/ /*###################### F5*/
    border-radius: 4px;
    background-color: #eee;
    overflow-y: auto; /* Para criar a barra de rolagem quando a lista exceder a div (eu acho)*/
    position: relative; /* Para que o container da img de perfil ampliada fique posicionada em relação à essa div*/
}
.info_espaco_container .cabecalio {
    width: 94%;
    padding: 10px 3% 10px 3%;
    margin: auto;
    font-weight: 700;
    /*color: #3e4859;*/ /*###################### F5*/
    background-color: #d7dbe0;
    border-bottom: 1px solid #d2d6db;
}
.info_espaco_container .cabecalio .titulo {
    font-size: 15px;
    color: #838da0;
    font-weight: bold;
}
.info_espaco_container .cabecalio .voltar_link {
    float: right;
    font-size: 26px; /*###################### F5*/
    margin-top: -10px; /*###################### F5*/
    padding: 4px; /*###################### F5*/
    color: #838da0; /*###################### F5*/
}
.info_espaco_container .cabecalio .voltar_link:hover {
    cursor: default; /*###################### F5*/
    /*font-weight: bold;*/ /*###################### F5*/
    color: #333; /*###################### F5*/
}
/**************************************************************************************************/
/*                                        INFO USUÁRIO LISTADO                                    */
/**************************************************************************************************/
.item-lista-usuario {
    width: 96%;
    height: 40px;
    padding: 10px 1% 0 1%;
    margin: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 4px;
}
.item-lista-usuario .pic {
    float: left;
    background-image: url('backgrounds/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
    border-radius: 50%;
    margin: 2px 4px 2px 4px;
}
.item-lista-usuario .pic:hover {
    cursor: pointer;
    margin-top: -2px;
    width: 36px;
    height: 36px;
    background-size: 36px;
    border-radius: 50%;
}
.item-lista-usuario .name {
    font-size: 13px;
    color: #3e4859;
    font-weight: bold;
}
.item-lista-usuario .msgStatus {
    font-size: 13px;
    color: #586782;
    font-style: italic;
}
.invite_btn {
    display: block;
    float: right;
    width: 26px;
    height: 26px;
    padding: 6px;
    margin: -36px 6px 0 0;
    border: none;
    border-radius: 50%;
}
.invite_btn:hover {
    background-color: #dedede;
}
.invite_icon {
    background-image: url('backgrounds/envelope.png');
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    background-size: 26px;
}
/**************************************************************************************************/
/*                                     PERFÍL DO USUÁRIO LISTA                                    */
/**************************************************************************************************/
.perfil_usuario_listado_container {
    display: none;
    position: absolute; /*###################### F5*/
    width: 100%; /*###################### F5*/
    height: 68vh; /*###################### F5*/ /* LAYOUT RESPONSIVO? */
    max-height: 500px; /*###################### F5*/
    border-radius: 4px;
    background-color: rgba(238,238,238,0.85); /*###################### F5*/
}
.perfil_usuario_listado_container .cabecalio .voltar_link { /*###################### F5*/
    float: right;
    font-size: 20px; /*###################### F5*/
    margin-top: -10px; /*###################### F5*/
    padding: 4px; /*###################### F5*/
    color: #838da0; /*###################### F5*/
}
.perfil_usuario_listado_container .cabecalio .voltar_link:hover { /*###################### F5*/
    cursor: default;
    /*font-weight: bold;*/ /*###################### F5*/
    color: #333;
}
.perfil_usuario_listado_container .img_perfil_ampliada { /*###################### F5*/
    background-image: url('backgrounds/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 170px; /*###################### F5*/
    height: 170px; /*###################### F5*/
    background-size: 170px; /*###################### F5*/
    margin: 20px auto; /*###################### F5*/ 
    border-radius: 50%; /*###################### F5*/
}
.perfil_usuario_listado_container .textos_container {/*###################### F5*/
    text-align: center;
    min-width: 10%;
    max-width: 80%;
    margin: auto;
    text-align: center;
}
.perfil_usuario_listado_container .nome { /*###################### F5*/
    font-size: 18px;
    color: #3e4859;
}
.perfil_usuario_listado_container .msg_status { /*###################### F5*/
    font-size: 14px;
    color: #777;
}
/**************************************************************************************************/
/*                                             CONVITE                                            */
/**************************************************************************************************/
/************************************************* CONVITE ***************************************************/
.convite_conatainer { /*###################### F5*/
    display: none; /*###################### F5*/
    position: absolute; /*###################### F5*/
    width: 100%; /*###################### F5*/
    height: 68vh; /*###################### F5*/ /* LAYOUT RESPONSIVO? */
    max-height: 500px; /*###################### F5*/
    border-radius: 4px; /*###################### F5*/
    background-color: #eee; /*###################### F5*/
}
.convite_conatainer .cabecalio {
    width: 94%;
    padding: 10px 3% 10px 3%;
    margin: auto;
    font-weight: 700;
    /*color: #3e4859;*/ /*###################### F5*/
    background-color: #d7dbe0;
    border-bottom: 1px solid #d2d6db;
}
.convite_conatainer .cabecalio .titulo {
    font-size: 15px;
    color: #838da0;
    font-weight: bold;
}
.convite_conatainer .campo {
    padding: 8px;
}
.convite_conatainer .nome_campo {
    font-size: 13px;
    color: #3e4859;
}
.convite_conatainer .nome_convidado {
    color: #3e4859;
}
.convite_conatainer select {
    width: 100%;
    border: 1px solid #ddd; /*###################### F5*/
    border-radius: 2px; /*###################### F5*/
}
.convite_conatainer option {
    padding: 6px; /*###################### F5*/
}
.convite_conatainer textarea {
    width: 100%;
    border: 1px solid #ddd; /*###################### F5*/
    border-radius: 2px; /*###################### F5*/
    resize: none; /*###################### F5*/
}
/*
.convite_conatainer button {
    float: right;
    padding: 4px;
}
*/
.convite_conatainer .cancelar_btn {
    float: right;
    padding: 6px 10px;
    margin-left: 4px;
    border-radius: 2px;
    font-size: 13px;
    background-color: #ddd;
    color: #555;
}
.convite_conatainer .cancelar_btn:hover {
    cursor: default;
    background-color: #ccc;
}
.convite_conatainer .enviar_btn {
    float: right;
    padding: 6px 10px;
    margin-left: 4px;
    border-radius: 2px;
    font-size: 13px;
    background-color: #27c66f;
    color: white;
}
.convite_conatainer .enviar_btn:hover {
    cursor: default;
    background-color: #21bc68;
}
/**************************************************************************************************/
/*                                AJUSTES DO LAYOUT RESPONSIVO                                    */
/**************************************************************************************************/
