/* O SIMPLES É O MAIS DIFÍCIL */

/* Sub página contida na Home*/

/* Espaço vazio sobre a coluna c3, apenas para nivelar com o início da área de conversa exibida na c2 */
.cabecalio_c3 {
    display: none; /* LLLLLLLLLLLLLLL NOVO *//* LAYOUT RESPONSIVO */
    width: 100%;
    height: 47px; /* LAYOUT RESPONSIVO */
    /*background-color: #efea88;*/
}

/******************************************************************************************************/
/*                                INFOS SOBRE O ESPAÇO E LISTA DE USUÁRIOS                            */
/******************************************************************************************************/
.info_espaco_container {
    display: none;
    width: 100%; /* LLLLLLLLLLLLLLLLL F5 *//* LAYOUT RESPONSIVO */
    height: calc(100% - 58px); /* LLLLLLLLLLLLLLLLL F5 *//* LAYOUT RESPONSIVO */
    margin-left: 0; /* LLLLLLLLLLLLLLLLL F5 *//* LAYOUT RESPONSIVO */
    border-radius: 4px;
    background-color: #f9f9f9; /* LLLLLLLLLLLLLLLLL F5 *//* LAYOUT RESPONSIVO */
    overflow-y: auto; /* Para criar a barra de rolagem quando a lista exceder a div (eu acho)*/
    position: relative; /* Para que o container da img de perfil ampliada fique posicionada em relação à essa div*/
}
.info_espaco_container .cabecalio {
    width: 94%;
    padding: 10px 3% 10px 3%;
    margin: auto;
    font-weight: 700;
    background: #f9f9f9; /* LLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
    border-bottom: 1px solid #f9f9f9; /* LLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
}
.info_espaco_container .cabecalio .titulo {
    font-size: 15px;
    color: #039be5;/* LLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
    font-weight: bold;
}
.info_espaco_container .cabecalio .voltar_link {
    float: right;
    font-size: 26px;
    margin-top: -10px;
    padding: 4px;
    color: #039be5;/* LLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
}
.info_espaco_container .cabecalio .voltar_link:hover {
    cursor: default;
    color: #333;
}

/******************************************************************************************************/
/*                                    INFOS DE CRIAÇÃO DO ESPAÇO                                      */
/******************************************************************************************************/
.info_espaco_container .detalhes .titulo {
    float: left;
    clear: right;
    font-size: 18px;
    padding: 8px 10px 2px 10px;
    color: #3e4859;
}
.info_espaco_container .detalhes .faixa {
    float: left;
    clear: right;
    width: 100%;
    margin: 4px 0;
    background-color: #e2e2e2;
}
.info_espaco_container .detalhes .faixa:hover {
    cursor: default;
}
.info_espaco_container .detalhes .usuario_criador {
    float: left;
    width: 80%;
    padding: 2px 0 4px 0;
}
.info_espaco_container .detalhes .usuario_criador .pic {
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-image: url('backgrounds/profile_placeholder.png');
    margin: 2px 4px 0 4%;
    border-radius: 50%;
    float: left;
}
.info_espaco_container .detalhes .usuario_criador .nome {
    font-weight: bold;
    display: inline-block; /* Para que o texto não quebre */
    font-size: 13px;
    color: #3e4859;
    margin: 2px 0 -4px 0; /* Devido ao text-overflow*/
    /* Para que o título não cresça indefinidamente para a direita  */
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.info_espaco_container .detalhes .usuario_criador .data {
    font-size: 11px;
    color: #666;
}
/* Bloco com número de outros usuários */
.info_espaco_container .detalhes .outros_usuarios {
    float: right;
    min-width: 30px;
    border-radius: 8px;
    margin: 7px 10px 0 0;
    text-align: center; /* Truque para centralizar uma div comm texto variável (Parte 1)*/
}
.info_espaco_container .detalhes .outros_usuarios .numero{
    display: inline-block;
    text-align: center; /* Truque para centralizar uma div comm texto variável (Parte 2)*/
    font-size: 20px;
    color: #3e4859;
}
.info_espaco_container .detalhes .outros_usuarios .icone { /* NÃO UTILIZADO */
    display: inline-block;
    margin: 0 -3px -2px 0;
    width: 20px;
}
.info_espaco_container .detalhes .outros_usuarios .texto{ /* NÃO UTILIZADO */
    font-size: 13px;
    text-align: center;
    line-height: 70%;
    color: #666;
}

/******************************************************************************************************/
/*                                          USUÁRIOS LISTADOS                                         */
/******************************************************************************************************/
.info_espaco_container .cabecalio_lista {
    float: left;
    clear: right;
    margin: 8px 0 4px 12px;
    color: #999;
    font-size: 12px;
}
.item_lista_usuario {
    float: left;
    clear: right;
    width: 96%;
    height: 40px;
    padding: 10px 1% 0 1%;
    margin: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 4px;
}
.item_lista_usuario .pic {
    float: left;
    background-image: url('backgrounds/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
    border-radius: 50%;
    margin: 2px 4px 2px 4px;
}
.item_lista_usuario .pic:hover {
    cursor: pointer;
    margin-top: -2px;
    width: 36px;
    height: 36px;
    background-size: 36px;
    border-radius: 50%;
}
.item_lista_usuario .name {
    font-size: 13px;
    color: #3e4859;
    font-weight: bold;
    /* Para que o título não cresça indefinidamente para a direita*/
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item_lista_usuario .msgStatus {
    font-size: 13px;
    color: #586782;
    font-style: italic;
    /* Para que o título não cresça indefinidamente para a direita*/
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.invite_btn {
    display: block;
    float: right;
    width: 26px;
    height: 26px;
    padding: 6px;
    margin: -36px 6px 0 0;
    border: none;
    border-radius: 50%;
}
.invite_btn:hover {
    background-color: #dedede;
}
.invite_icon {
    background-image: url('backgrounds/envelope.png');
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    background-size: 26px;
}

/******************************************************************************************************/
/*                                       PERFÍL DO USUÁRIO LISTADO                                    */
/******************************************************************************************************/
.perfil_usuario_listado_container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%; /* LLLLLLLLLLLLLLLLLL NOVO */
    border-radius: 4px;
    background-color: rgba(238,238,238,0.85);
}
.perfil_usuario_listado_container .cabecalio .voltar_link {
    float: right;
    font-size: 20px;
    margin-top: -10px;
    padding: 4px;
    color: #039be5;/* LLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
}
/*
.perfil_usuario_listado_container .cabecalio .voltar_link:hover { LLLLLLLLLLLLLLLLLLLL OUT
    cursor: default;
    color: #333;
}
*/
.perfil_usuario_listado_container .img_perfil_ampliada {
    background-image: url('backgrounds/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    background-size: 170px;
    margin: 20px auto;
    border-radius: 50%;
}
.perfil_usuario_listado_container .textos_container {
    text-align: center;
    min-width: 10%;
    max-width: 80%;
    margin: auto;
    text-align: center;
}
.perfil_usuario_listado_container .nome {
    font-size: 18px;
    color: #3e4859;
}
.perfil_usuario_listado_container .msg_status {
    font-size: 14px;
    color: #777;
}

/******************************************************************************************************/
/*                                       FORMULÁRIO DE CONVITE                                        */
/******************************************************************************************************/
.convite_container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%; /* LLLLLLLLLLLLLLLLLL NOVO */
    border-radius: 4px;
    background-color: #f9f9f9; /* LLLLLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
}
/* ********************************************** LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL OUT
.convite_container .cabecalio {
    width: 94%;
    padding: 10px 3% 10px 3%;
    margin: auto;
    font-weight: 700;
    background: linear-gradient(to right, #03a9f4, #039be5);/* LLLLLLLLLLLLLLLL F5 *//*
    border-bottom: 1px solid #d2d6db;
}
.convite_container .cabecalio .titulo {
    font-size: 15px;
    color: #fff; /* LLLLLLLLLLLLLLLL F5 *//*
    font-weight: bold;
}
*/
.convite_container .campo {
    padding: 8px;
}
.convite_container .nome_campo {
    font-size: 13px;
    color: #757575;/*#3e4859;*/ /* LLLLLLLLLLLLLLLLLLLL F5 */
}
.convite_container .nome_convidado {
    color: #3e4859;
}
.convite_container select {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px; /* LLLLLLLLLLLLLLLLLLLL F5 */
}
.convite_container option {
    padding: 6px;
}
.convite_container textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px; /* LLLLLLLLLLLLLLLLLLLLL F5 */
    resize: none;
}
.convite_container .cancelar_btn {
    float: right;
    padding: 6px 10px;
    margin-left: 4px;
    border-radius: 10px; /* LLLLLLLLLLLLLLLLLLLLLLL F5 */
    font-size: 13px;
    background-color: #ddd;
    color: #555;
}
.convite_container .cancelar_btn:hover {
    cursor: default;
    background-color: #d5d5d5;
}
.convite_container .enviar_btn {
    float: right;
    padding: 6px 10px;
    margin-left: 4px;
    border-radius: 10px; /* LLLLLLLLLLLLLLLLLLLLL F5 */
    font-size: 13px;
    background-color: #21bc68;
    color: white;
}
.convite_container .enviar_btn:hover {
    cursor: default;
    background-color: #22cc70;/* LLLLLLLLLLLLLLLLLLLL F5*/
}

/******************************************************************************************************/
/*                                 ÁREA DE EDIÇÃO DA MSG DE STATUS                                    */
/******************************************************************************************************/
.status_edit_container {
    display: none;
    width: 100%; /* LLLLLLLLLLLLLLLLL F5 *//* LAYOUT RESPONSIVO */
    height: calc(100% - 58px); /* LLLLLLLLLLLLLLLLL F5 *//* LAYOUT RESPONSIVO */
    margin-left: 0; /* LLLLLLLLLLLLLLLLL F5 *//* LAYOUT RESPONSIVO */
    border-radius: 4px;
    background-color: #f9f9f9;/* LLLLLLLLLLLLLLLLL F5 *//* LAYOUT RESPONSIVO */
    overflow-y: auto; /* Para criar a barra de rolagem quando a lista exceder a div (eu acho)*/
    position: relative; /* Para que o container da img de perfil ampliada fique posicionada em relação à essa div*/
}
.status_edit_container .cabecalio {
    width: 94%;
    padding: 10px 3% 10px 3%;
    margin: auto;
    font-weight: 700;
    background: #f9f9f9;/* LLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
    border-bottom: 1px solid #f9f9f9; /* LLLLLLLLLLLLLLL F5 *//* Layout responsivo */
}
.status_edit_container .cabecalio .titulo {
    font-size: 15px;
    color: #039be5; /* LLLLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
    font-weight: bold;
}
.status_edit_container textarea {
    width: 92%;
    height: 34px;
    margin: 2%;
    padding: 4px 2%;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 4px; /* LLLLLLLLLLLLLLLLLLLL NOVO */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777;
    font-weight: bold;
    font-style: italic;
    resize: none;
}
.status_edit_container .btn_atualizar {
    float: right;
    padding: 6px 10px;
    margin: 4px 2% 4px 4px;
    font-size: 13px;
    border-radius: 10px; /* LLLLLLLLLLLLLLLLLLLL F5 */
    color: white;
    background-color: #21bc68;
}
.status_edit_container .btn_atualizar:hover {
    cursor: default;
    background-color: #22cc70;
}
.status_edit_container .btn_cancelar {
    float: right;
    padding: 6px 10px;
    margin: 4px;
    font-size: 13px;
    border-radius: 10px; /* LLLLLLLLLLLLLLLLLLLL F5 */
    color: #555;
    background-color: #ddd;
}
.status_edit_container .btn_cancelar:hover {
    cursor: default;
    background-color: #d5d5d5;
}

/******************************************************************************************************/
/*                                      LISTA DE CONVITES RECEBIDOS                                   */
/******************************************************************************************************/
.lista_convites_container {
    display: none;
    width: 100%; /* LLLLLLLLLLLLLLLLL F5*//* LAYOUT RESPONSIVO */
    height: calc(100% - 58px); /* LLLLLLLLLLLLLLLLL F5*//* LAYOUT RESPONSIVO */
    margin-left: 0; /* LLLLLLLLLLLLLLLLL F5*//* LAYOUT RESPONSIVO */
    border-radius: 4px;
    overflow-y: auto; /* Para criar a barra de rolagem quando a lista exceder a div (eu acho)*/
}
.lista_convites_container .cabecalio {
    width: 94%;
    padding: 10px 3% 10px 3%;
    margin: auto;
    font-weight: 700;
    background: #f9f9f9; /* LLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
    border-bottom: 1px solid #f9f9f9; /* LLLLLLLLLLLLLLL F5 *//* Layout responsivo */
}
.lista_convites_container .cabecalio .titulo {
    font-size: 15px;
    color: #039be5; /* LLLLLLLLLLLLLLLLLLLLL F5*//* Layout responsivo */
    font-weight: bold;
}
.lista_convites_container .cabecalio .voltar_link {
    float: right;
    font-size: 26px;
    margin-top: -10px;
    padding: 4px;
    color: #039be5; /* LLLLLLLLLLLLLLLLLLLLL F5*//* Layout responsivo */
}
.lista_convites_container .cabecalio .voltar_link:hover {
    cursor: default;
    color: #333;
}
/* Convites individuais na lista */
.lista_convites_container .convite{
    margin: 4px 0 0 0;
    padding: 4px;
    background-color: #e2e2e2; /* LLLLLLLLLLLLLLLLL F5 */
    border-radius: 2px;
    border-bottom: 1px solid #c2c2c2; /* LLLLLLLLLLLLLLLLL F5 */
}
.lista_convites_container .pic {
    float: left;
    background-image: url('backgrounds/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
    border-radius: 20px;
    margin: 2px 4px 2px 2px;
}
.lista_convites_container .nome {
    font-size: 13px;
    height: 26px;
    padding-top: 8px;
    font-weight: bold;
}
.lista_convites_container .nome_espaco {
    padding: 4px 10px;
    margin: 4px 2px;
    font-size: 13px;
    color: #333;
    background-color: #eee;
    border-radius: 4px;
}
.lista_convites_container .nome_espaco:hover{
    background-color: #e9e9e9;
    color: black;
    cursor: pointer;
}
.lista_convites_container .mensagem {
    font-size: 13px;
    margin-left: 11px;
    padding: 2px 6px 2px 18px;
    color: #555;
    font-style: italic;
    background-image: url('backgrounds/message_list.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 12px;
}
.lista_convites_container .descartar_btn {
    float: right;
    border: none;
    border-radius: 6px; /* LLLLLLLLLLLLLLLLLL F5 */
    padding: 2px 4px;
    color: white;
    background-color: #f2371a; /* LLLLLLLLLLLLLLLLLL F5 */
    margin: 4px 2px;
}
.lista_convites_container .descartar_btn:hover {
    background-color: #f45c44; /* LLLLLLLLLLLLLLLLLL F5 */
}

/******************************************************************************************************/
/*                                           OPÇÕES DO ESPAÇO                                         */
/******************************************************************************************************/
.opcoes_container {
    display: none;
    width: 100%; /* LLLLLLLLLLLLLLLLL F5*//* LAYOUT RESPONSIVO */
    height: calc(100% - 58px); /* LLLLLLLLLLLLLLLLL F5*//* LAYOUT RESPONSIVO */
    margin-left: 0; /* LLLLLLLLLLLLLLLLL F5*//* LAYOUT RESPONSIVO */
    border-radius: 4px;
    background-color: #f9f9f9; /* LLLLLLLLLLLLLLLLL F5*//* LAYOUT RESPONSIVO */
    overflow-y: auto; /* Para criar a barra de rolagem quando a lista exceder a div (eu acho)*/
}
.opcoes_container .cabecalio {
    width: 94%;
    padding: 10px 3% 10px 3%;
    font-weight: 700;
    background: #f9f9f9; /* LLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
    border-bottom: 1px solid #f9f9f9; /* LLLLLLLLLLLLLLL F5 *//* Layout responsivo */
}
.opcoes_container .cabecalio .titulo {
    font-size: 15px;
    color: #039be5; /* LLLLLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
    font-weight: bold;
}
.opcoes_container .cabecalio .voltar_link {
    float: right;
    font-size: 26px;
    margin-top: -10px;
    padding: 4px;
    color: #039be5; /* LLLLLLLLLLLLLLLLLLL F5 *//* Layout responsivo */
}
.opcoes_container .cabecalio .voltar_link:hover {
    cursor: default;
    color: #333;
}
/* Itens da lista de opções (Por enquanto só um) */
.opcoes_container .item_opcoes {
    width: 94%;
    height: 30px;
    padding: 16px 3% 0 3%;
    margin-bottom: 4px;
}
.opcoes_container .item_opcoes .texto {
    float: left;
    color: #3e4859;
}
.opcoes_container .item_opcoes .radios {
    float: right;
    color: #3e4859;
}
/* Div com os botões para cancelar ou confirmar uma alteração de opção */
.opcoes_container .confirma_opcao_container {
    display: none;
    margin: 10% 3%;
}
.opcoes_container .confirma_opcao_container .cancelar_btn {
    float: right;
    padding: 6px 10px;
    margin-left: 4px;
    border-radius: 10px; /* LLLLLLLLLLLLLLLLLLL F5 */
    font-size: 13px;
    background-color: #ddd;
    color: #555;
}
.opcoes_container .confirma_opcao_container .cancelar_btn:hover {
    cursor: default;
    background-color: #d5d5d5;
}
.opcoes_container .confirma_opcao_container .confirmar_btn {
    float: right;
    padding: 6px 10px;
    margin-left: 4px;
    border-radius: 10px; /* LLLLLLLLLLLLLLLLLLLLL F5 */
    font-size: 13px;
    background-color: #21bc68;
    color: white;
}
.opcoes_container .confirma_opcao_container .confirmar_btn:hover {
    cursor: default;
    background-color: #22cc70; /* DDDDDDDDDDDDDDDDDDDDDD F5*/
}

/******************************************************************************************************/
/*                                  AJUSTES DO LAYOUT RESPONSIVO                                      */
/******************************************************************************************************/

@media screen and (min-width: 640px) { /* LLLLLLLLLLLLLLLLLLLL NOVO */
    .cabecalio_c3 {
        display: block;
    }
    /* Info espaço */
    .info_espaco_container {
        width: 99%;
        margin-left: 1%;
        height: calc(100% - 105px);
        background-color: #eee;
    }
    .info_espaco_container .cabecalio {
        background: linear-gradient(to right, #03a9f4, #039be5);
        border-bottom: 1px solid #03a9f4;
    }
    .info_espaco_container .cabecalio .titulo {
        color: #fff;
    }
    .info_espaco_container .cabecalio .voltar_link {
        color: #fff;
    }
    .perfil_usuario_listado_container .cabecalio .voltar_link {
        color: #fff;
    }
    .convite_container {
        background-color: #eee;
    }
    
    /* Edição da msg de status */
    .status_edit_container {
        width: 99%;
        margin-left: 1%;
        height: calc(100% - 105px);
        background-color: #eee;
    }
    .status_edit_container .cabecalio {
        background: linear-gradient(to right, #03a9f4, #039be5);
        border-bottom: 1px solid #03a9f4;
    }
    .status_edit_container .cabecalio .titulo {
        color: #fff;
    }
    
    /* Lista de convites recebidos */
    .lista_convites_container {
        width: 99%;
        margin-left: 1%;
        height: calc(100% - 105px);
    }
    .lista_convites_container .cabecalio {
        background: linear-gradient(to right, #03a9f4, #039be5);
        border-bottom: 1px solid #03a9f4;
    }
    .lista_convites_container .cabecalio .titulo {
        color: #fff;
    }
    .lista_convites_container .cabecalio .voltar_link {
        color: #fff;
    }
    
    /* Opções do espaço */
    .opcoes_container {
        width: 99%;
        margin-left: 1%;
        height: calc(100% - 105px);
        background-color: #eee;
    }
    .opcoes_container .cabecalio {
        background: linear-gradient(to right, #03a9f4, #039be5);
        border-bottom: 1px solid #03a9f4;
    }
    .opcoes_container .cabecalio .titulo {
        color: #fff;
    }
    .opcoes_container .cabecalio .voltar_link {
        color: #fff;
    }
    
}
