/* O SIMPLES É O MAIS DIFÍCIL */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}
/**************************************************************************************************/
/*                                       BARRA DO USUÁRIO                                         */
/**************************************************************************************************/
/* Divisão do layout geral para conter a barra do usuário */
.coluna_superior {
    position: fixed; /* Para não descer com a barra de rolagem*/
    width: 100%;
    height: 60px;
    z-index: 1; /* Necessário para que os elementos pertencentes a barra do usuário, mas exibidos fora dela (menu e resultado das buscas) fiquem em primeiro plano */
    background-color: #e5e5e5; /*Cor da barra do usuário*/
}
/* Div para conter os elementos da barra do usuário*/
.barra_usuario_container {
    position: relative; /*Para que a div com o conteúdo do menu seja peosicionada em relação a essa div*/
    width: 100%;
}
/**************************************************************************************************/
/*                                        CORPO DA PÁGINA                                         */
/**************************************************************************************************/
/* Divisão do layout geral para conter o restante do conteúdo da página*/
.coluna_central {
    position: relative;
    top: 60px;/*Desconto para não sobrepor a barra do usuário*/
    width: 100%;
    background-color: #ffff80;
}
/* Divisão dentro da coluna central para conter a lista de espaços*/
.coluna_central_c1 {
    width: 30%;
    /*display: inline-block;*/
    float: left;
}
.c1_lista_espacos {
    width: 100%;
    /*margin: auto;*/ /* Para centralizar se o width for menor que 100%*/
}
.c1_lista_espaco_container_individual {
    /*width: 90%;*/
    padding: 4%;
    border-radius: 4px;
    background-color: #e9e9e9;
    display: block;
    margin-top: 2px;
    color: #3e4859;
}
.c1_lista_espaco_container_individual:hover{
    background-color: #e2e2e2;
}
/* Divisão dentro da coluna central para conter um espaço ativo*/
.coluna_central_c2 {
    float: left;
    width: 69%;
    /*display: inline-block;*/
    /*background-color: #428BDD;*/
    /*height: 100px;*/
}
.c2_msg {
    /*width: 100%;*/
    padding: 10px;
    margin: 2px;
    border: solid 1px black;
    border-radius: 4px;
    /*display: block;*/
}
/**************************************************************************************************/
/*                                AJUSTES DO LAYOUT RESPONSIVO                                    */
/**************************************************************************************************/
@media screen and (min-width: 580px) {

}

@media screen and (min-width: 768px) {
    .coluna_central {width: 90%; margin: auto;}
    .caixa_texto_busca {width: 50%;}
    /* Altura da barra de busca*/
    .container_form_busca form {
        padding-top: 230px;
    }
}

@media screen and (min-width: 1140px) {
    .barra_usuario_container {width: 80%; margin: auto;}
    .coluna_central{width: 80%; margin: auto;}
}