/* O SIMPLES É O MAIS DIFÍCIL */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}
/**************************************************************************************************/
/*                                       BARRA DO USUÁRIO                                         */
/**************************************************************************************************/
/* Divisão do layout geral para conter a barra do usuário */
.coluna_superior {
    position: fixed; /* Para não descer com a barra de rolagem*/
    width: 100%;
    height: 58px; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    z-index: 1; /* Necessário para que os elementos pertencentes a barra do usuário, mas exibidos fora dela (menu e resultado das buscas) fiquem em primeiro plano */
    background: linear-gradient(to right, #e8e8e8, #d7dbe0); /*Cor da barra do usuário*/
    border-bottom: 1px solid #dedede;
}
/* Div para conter os elementos da barra do usuário*/
.barra_usuario_container {
    position: relative; /*Para que a div com o conteúdo do menu seja peosicionada em relação a essa div*/
    width: 100%;
}
/**************************************************************************************************/
/*                                        CORPO DA PÁGINA                                         */
/**************************************************************************************************/
/* Divisão do layout geral para conter o restante do conteúdo da página*/
.coluna_central {
    position: relative;
    /* top: 58px;*/ /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */ /*Desconto para não sobrepor a barra do usuário*/
    width: 100%;
    /*background-color: #ffff80; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
}
.dumper_top { /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    width: 100%; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    height: 58px; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
}
/**************************************************************************************************/
/*                                             C1                                                 */
/**************************************************************************************************/
/* Divisão dentro da coluna central para conter a lista de espaços*/
.coluna_central .c1 { /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    display: none; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */ /* LAYOUT RESPONSIVO */
    width: 100%; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */ /* LAYOUT RESPONSIVO */
    height: 100vh; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    float: left;
    /*background-color: #4387fd;*/ 
}
/**************************************************************************************************/
/*                                             C2                                                 */
/**************************************************************************************************/
.coluna_central .c2 { /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    float: left; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    width: 100%; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */ /* LAYOUT RESPONSIVO */
    height: 100vh; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    /*background-color: #efea88;*/
}
/**************************************************************************************************/
/*                                             C3                                                 */
/**************************************************************************************************/
.coluna_central .c3 { /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    display: none; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    float: left; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    width: 100%; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */ /* LAYOUT RESPONSIVO */
    height: 100vh; /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
}
/**************************************************************************************************/
/*                                      Recuo da bateria                                          */
/**************************************************************************************************/
.coluna_central .recuo_c2 { /* YYYYYYYYYYYYYYYYYYYYYYYY NOVO */
    display: none; /* LAYOUT RESPONSIVO */
    width: 0; /* LAYOUT RESPONSIVO */
}
/**************************************************************************************************/
/*                                AJUSTES DO LAYOUT RESPONSIVO                                    */
/**************************************************************************************************/
@media screen and (min-width: 640px) {
    .coluna_central .c1 {
        display: block;
        width: 40%;
    }
    .coluna_central .c2 {
        width: 60%;
    }
    .coluna_central .c3 {
        width: 60%;
    }
}
@media screen and (min-width: 1024px) {
    .coluna_central .c1 {
        width: 30%;
    }
    .coluna_central .c2 {
        width: 70%;
    }
    .coluna_central .c3 {
        width: 30%;
    }
    .coluna_central .recuo_c2 {
        display: block;
        width: 40%;
    }
}

@media screen and (min-width: 1366px) {
    /* Nível 1 */
    .barra_usuario_container {
        width: 90%;
        margin: auto;
    }
    .coluna_central {
        width: 90%;
        margin: auto;
    }
}
@media screen and (min-width: 1800px) {
    /* Nível 1 */
    .barra_usuario_container {
        width: 1620px; /* 90% de 1800px*/
        margin: auto;
    }
    .coluna_central {
        width: 1620px; /* 90% de 1800px*/
        margin: auto;
    }
}