/* O SIMPLES É O MAIS DIFÍCIL */

/* Sub página contida na Home*/

/**************************************************************************************************/
/*                            ESPAÇO ATIVO (ocupra a coluna c2)                                   */
/**************************************************************************************************/
/* Container geral*/
.espaco_container {
    width: 100%;
    /*background-color: #d5d5d5; /*Para ver a área total do espaço*/
}
/* Cabeçálio */
.espaco_cabecalio {
    width: 96%;
    padding: 12px 1%;
    margin: auto;
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: 700;
    color: #333;
}
.espaco_btn_sair {
    float: right;
}
.espaco_btn_sair:hover {
    cursor: pointer;
    font-weight: bold;
}
/* Área de exibição da comversa */
.espaco_mensagens_container {
    width: 96%;
    height: 300px;
    padding: 12px 1%;
    margin: auto;
    margin-top: 4px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #eee;
}
/* Mensagens individuais exibinas na área da conversa */
.espaco_moldura_mensagem {
    float: right;
    margin: 1px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #2554ED;
    box-shadow: 2px 2px 1px #aaa;
}
/* Área onde o usuário digita e envia as suas mensagens*/
.espaco_area_texto {
    width: 98%;
    margin: auto;
    margin-top: 4px;
    height: 40px;
    /*border: 1px solid black;
    border-radius: 4px;*/
}
.espaco_area_texto input[type=text] {
    width: 75%;
    padding: 12px;
    border: solid 1px #aaa;
    border-radius: 4px;
    margin-right: 4px; /*Para o botão Enviar não ficar encostado*/
}
.espaco_area_texto input[type=submit] {
    width: 20%;
    padding: 12px;
    border: solid 1px #aaa;
    border-radius: 4px;
}
.area_texto_item {
    float: left;
}
/**************************************************************************************************/
/*                                AJUSTES DO LAYOUT RESPONSIVO                                    */
/**************************************************************************************************/
@media screen and (min-width: 580px) {
    
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1140px) {

}