/* O SIMPLES É O MAIS DIFÍCIL */

/* Sub página contida na Home*/

/**************************************************************************************************/
/*                             ESPAÇO ATIVO (ocupa a coluna c2)                                   */
/**************************************************************************************************/
/* Container geral*/
.espaco_container {
    width: 100%;
    /*background-color: #d5d5d5; /*Para ver a área total do espaço*/
}
/* Cabeçálio */
.espaco_cabecalio {
    width: 96%;
    padding: 15px 4px 0 4px;
    margin: auto;
    margin-top: 2px;
    font-weight: 700;
    color: #3e4859;
}
.espaco_cabecalio .titulo {font-size: 24px;} /***** ATUALIZADO *****/
.espaco_cabecalio_menu {
    float: right;
    padding-top: 10px;  /*Para descer um pouco a div*/
}
.espaco_cabecalio_sair {
    margin-left: 10px; /***** NOVO *****/
}
.espaco_cabecalio_sair:hover {
    cursor: pointer;
    font-weight: bold;
}
/*********************************** INFO SOBRE O ESPAÇO ************************************/
.espaco_info {
    display: none;
    width: 100%;
}
/** Bloco com as informações de origem do espaço **/
.espaco_info .usuario_criador {
    display: inline-block;
    width: 200px;
}
.espaco_info .usuario_criador .pic {
    float: left;
    background-image: url('backgrounds/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 30px;
    margin-right: 4px;
}
.espaco_info .usuario_criador .nome {
    font-weight: bold;
}
.espaco_info .usuario_criador .data {
    font-size: 12px;
}
/** Bloco com número de outros usuários **/
.espaco_info .outros_usuarios {
    display: inline-block;
    min-width: 50px;
    border-radius: 8px;
    padding: 2px 4px 6px 4px;
}
.espaco_info .outros_usuarios:hover {
    /*box-shadow: 2px 2px 1px #bbb;*/
    background-color: #e9e9e9;
    cursor: pointer;
}
.espaco_info .outros_usuarios .numero {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}
.espaco_info .outros_usuarios .icone {
    display: inline-block;
    margin: 0 -3px -2px 0;
    width: 20px;
}
.espaco_info .outros_usuarios .texto {
    margin: auto;
    font-size: 13px;
    width: 46px; /* ~Largura do texto "ver lista" para que o margin auto tenha efeito*/
    line-height: 80%;
}
.espaco_mostrar_info {
    display: block;
}
/************************** ÁREA DE EXIBIÇAO DA LISTA DE USUÁRIOS NO ESPAÇO ***************************/
.espaco_lista_usuarios {
    display: none;
    width: 96%;
    height: 200px;
    padding: 12px 1%;
    margin: auto;
    margin-top: 4px;
    border-radius: 4px;
    background-color: #eee;
}
.espaco_lista_usuarios .cabecalio {
    width: 96%;
    padding: 4px;
    margin: auto;
    margin-top: 2px;
    font-weight: 700;
    color: #3e4859;
}
.espaco_lista_usuarios .cabecalio .titulo {
    font-size: 18px;
}
.espaco_lista_usuarios .cabecalio .voltar_link {
    float: right;
}
.espaco_lista_usuarios .cabecalio .voltar_link:hover {
    cursor: pointer;
    font-weight: bold;
}
/***************************** Área de exibição da conversa ***********************************/
.espaco_mensagens_container {
    width: 96%;
    height: 350px;
    padding: 6px 2px;
    margin: auto;
    margin-top: 4px;
    /*border: 1px solid #666;*/
    border-radius: 4px;
    background-color: #eee;
}
/* Mensagens individuais exibinas na área da conversa */
.espaco_moldura_mensagem {
    float: right;
    margin: 1px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #2554ED;
    box-shadow: 2px 2px 1px #aaa;
}
/* Área onde o usuário digita e envia as suas mensagens*/
.espaco_area_texto {
    width: 98%;
    margin: auto;
    margin-top: 4px;
    height: 40px;
    /*border: 1px solid black;
    border-radius: 4px;*/
}
.espaco_area_texto input[type=text] {
    width: 75%;
    padding: 14px 10px;
    /*border: none;*/
    border: solid 1px #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
}
.espaco_area_texto input[type=submit] {
    width: 44px;
    padding: 14px 10px;
    border: none;
    background-color: #d5d5d5;
    border-radius:25px;
    margin-left: 6px; /*Para os botões não encostarem nos seus vizinho a esquerda*/
}
.espaco_area_texto input[type=submit]:hover {background-color: #c5c5c5;}
.area_texto_item {
    float: left;
}
/**************************************************************************************************/
/*                                AJUSTES DO LAYOUT RESPONSIVO                                    */
/**************************************************************************************************/
@media screen and (min-width: 580px) {
    
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1140px) {

}