/* O SIMPLES É O MAIS DIFÍCIL */

/**************************************************************************************************/
/*                                              MENU                                              */
/**************************************************************************************************/
/* Div geral para conter todos elemntos do menu */
.barra_usuario_menu {
    float: right; margin: 4px;
}
.barra_usuario_menu_botao { /* Não é possível usar apenas apenas o button, pq é preciso uma classe para ocultar o menu*/
    width: 32px; height: 32px;
    margin-top: 4px;
    cursor: pointer;
    background: #ccc url(backgrounds/menu_icon.png) center no-repeat;
    border: none;
    border-radius: 50%;
}
.barra_usuario_menu_botao:hover {
    background-color: #aaa;
}
.barra_usuario_menu_conteudo { /* Não é possível usar somente a ul, pq é preciso uma classe na função mostrarMenu()*/
    display: none;
    position: absolute; /* Para que seja posicionado em relação a div barra_usuario_container*/
    margin-top: 5px;
    overflow: auto;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2); /* Pra criar a sombra ao redor da caixa de opções do menu */
    right: 0; /* Para que a caixa de opções do menu abra para a esquerda */
    /*z-index: 2; /*Para que o contúdo do menu fique em promeiro plano (A frente da lista de notificações nivel 1) */
}
.barra_usuario_menu a {
    min-width: 140px;
    padding: 8px;
    color: black;
    text-decoration: none;
    display: block; /*Para que os links figuem alinhados verticalmente*/
}
.barra_usuario_menu a:hover {
    background: #ddd;
    cursor: pointer;
}
.barra_usuario_menu_mostrar_conteudo {
    display: block;
}
/**************************************************************************************************/
/*                                      MENSAGEM DE OLÁ                                           */
/**************************************************************************************************/
/* Container da mensagem */
.barra_usuario_ola_container {
    float: right;
    margin: 14px 10px 0 0;
}
/**************************************************************************************************/
/*                                             BUSCA                                              */
/**************************************************************************************************/
.barra_usuario_busca_container {
    /*float: left;*/
    margin: 8px 10px 0 0;
}
.bu_caixa_texto {
    display: inline-block;
    width: 180px;
    margin-right: 20px;
}
.bu_botao_novo {
    display: inline-block;
    
}
.barra_usuario_busca_container input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 16px;
}
.barra_usuario_busca_container input[type=submit] {
    padding: 10px;
    font-size: 15px;
}
/*Div para exibir os resultados da busca. Tem um JS para ser mostrada e escondida e as dimensões são ajustadas para cada tamanho de tela*/
.resultado_busca {
    display: none;
    width: 50%; height: 300px;
    position: absolute;
    overflow: auto;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2); /*Pra criar a sombra ao redor da caixa de opções do menu*/
    left: 0; /*Para que abra para a direita*/
    z-index: 1; /*Para que o contúdo do menu fique em promeiro plano*/
}
.resultado_busca_item_container {
    clear: left;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    /*margin: auto;*/
    border-bottom: 1px solid #ccc;
}
.resultado_busca_item_container:hover{background-color: #eee;}
.resultado_busca_item_bloco_esquerdo {
    float: left;
    padding: 4px;
    color: #333;
}
.resultado_busca_item_bloco_direito {
    float: right;
    padding: 4px;
    color: #555;
    font-size: 22px;
}
/**************************************************************************************************/
/*                                      LAYOUT RESPONSIVO                                         */
/**************************************************************************************************/
@media screen and (min-width: 768px) {
    .bu_caixa_texto {
        width: 50%;
    }
}

@media screen and (min-width: 580px) {

}