/* O SIMPLES É O MAIS DIFÍCIL */

/**************************************************************************************************/
/*                                              MENU                                              */
/**************************************************************************************************/
/* Div geral para conter todos elemntos do menu */
.barra_usuario_menu {
    float: right; margin: 4px;
}
.barra_usuario_menu_botao { /* Não é possível usar apenas apenas o button, pq é preciso uma classe para ocultar o menu*/
    background-image: url('backgrounds/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    background-size: 34px;
    border-radius: 50%;/*20px;*/
    margin: 1px 4px;
}

.barra_usuario_menu_botao:hover {
    background-color: #ccc;
}
.barra_usuario_menu_conteudo { /* Não é possível usar somente a ul, pq é preciso uma classe na função mostrarMenu()*/
    display: none;
    position: absolute; /* Para que seja posicionado em relação a div barra_usuario_container*/
    margin-top: 5px;
    right: 0; /* Para que a caixa de opções do menu abra para a esquerda */
    z-index: 2; /*Para que o contúdo do menu fique em promeiro plano (A frente da lista de notificações nivel 1) */
}
.barra_usuario_menu_conteudo .box {
    overflow: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); /* Pra criar a sombra ao redor da caixa de opções do menu */
}
.barra_usuario_menu_conteudo .triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ccc;
    margin-left: 163px;
    margin-bottom: -9px;
}
.barra_usuario_menu_conteudo .inner_triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f9f9f9;
    margin-left: 163px;
    margin-bottom: -1px;
    position: relative;
    z-index: 2;
}
.barra_usuario_menu .item_menu {
    width: 180px; /* ############### EDIÇÃO DO STATUS ################### */
    padding: 8px;
    color: black;
    text-decoration: none;
}
.barra_usuario_menu .item_menu:hover {
    background: #ddd;
    cursor: pointer;
}
.barra_usuario_menu_mostrar_conteudo {
    display: block;
}
/* #################################### EDIÇÃO DO STATUS ######################################## */
/*
.status_container .edit_icon {
    float: right;
    background-image: url('backgrounds/edit.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-size: 16px;

*/
.status_edit_container {
    display: none;
    position: absolute; /* Para que seja posicionado em relação a div barra_usuario_container*/
    margin-top: 5px;
    right: 0; /* Para que a caixa de opções do menu abra para a esquerda */
    z-index: 2;
}
.status_edit_container .box {
    width: 360px;
    padding: 4px;
    overflow: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); /* Pra criar a sombra ao redor da caixa de opções do menu */
}
.status_edit_container .triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #aaa;
    margin-left: 335px;
    margin-bottom: -9px;
}
.status_edit_container .inner_triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f9f9f9;
    margin-left: 335px;
    margin-bottom: -1px;
    position: relative;
    z-index: 2;
}
.status_edit_container textarea {
    width: 96%;
    height: 34px;
    padding: 4px 2%;
    border: none;
    background-color: #eee;
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777;
    font-weight: bold;
    font-style: italic;
}
.status_edit_container .titulo {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    color: #bbb;
}
.status_edit_container .btn_atualizar {
    float: right;
    /*width: 100px;*/
    padding: 2px 6px;
    margin: 4px;
    font-size: 13px;
    border-radius: 2px;
    color: white;
    background-color: #27c66f;
}
.status_edit_container .btn_atualizar:hover {
    cursor: default;
    background-color: #21bc68;
}
.status_edit_container .btn_cancelar {
    float: right;
    /*width: 100px;*/
    padding: 2px 6px;
    margin: 4px;
    font-size: 13px;
    border-radius: 2px;
    color: #555;
    background-color: #ddd;
}
.status_edit_container .btn_cancelar:hover {
    cursor: default;
    background-color: #ccc;
}
/**************************************************************************************************/
/*                                 NOTIFICAÇÃO E LISTA DE CONVITES                                */
/**************************************************************************************************/
.lista_convite_container {
    float: right; margin: 4px;
    position: relative;
}
.lista_convite_container .botao_icone_container { /*Não tem função de estilo. Apenas reune o botão e o contador*/
    display: none;
}
.lista_convite_container .botao_lista {
    width: 29px;
    height: 29px;
    padding: 1px;
    margin-top: 5px;
    border-radius: 50%;
}
.lista_convite_container .icone_botao_lista {
    background-image: url('backgrounds/envelope.png');
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    background-size: 28px;
}
.lista_convite_container .botao_lista:hover {
    background-color: #ccc;
}
/* Número de convites exibido sobre o icone*/
.lista_convite_container .contador_convites {
    min-width: 8px;
    height: 15px;
    padding: 0 4px;
    border-radius: 8px;
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #F2371A;/*#3c78e0;*/
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.lista_convite_container .contador_convites:hover {
    cursor: default;
}
/* Lista de convites */
.lista_convite_container .lista {
    display: none;
    width: 300px;
    min-height: 200px;
    position: absolute; /* Para que seja posicionado em relação a div "barra_usuario_container" (primeiro parent com position)*/
    margin-top: 7px;
    overflow: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); /* Pra criar a sombra ao redor da caixa de opções do menu */
    right: -30px; /* Para que a caixa de opções do menu abra para a esquerda */
    top: 44px;
    z-index: 1;
}
.lista_convite_container .lista_convites_mostrar_conteudo {
    display: block;
}
.lista_convite_container .cabecalio {
    width: 60px;
    margin: auto;
    padding: 4px 4px 0 4px;
    color: #333;
    font-size: 12px;
    font-weight: bold;
}
/* Convites individuais na lista */
.lista_convite_container .convite{
    /*width: 96%;
    /*margin: auto;*/
    margin: 4px;
    padding: 4px;
    background-color: #ddd;
    border-radius: 2px;
    border-bottom: 1px solid #bbb;
    
}
.lista_convite_container .campo {
   padding: 2px;
}
.lista_convite_container .pic {
    float: left;
    background-image: url('backgrounds/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
    border-radius: 20px;
    margin: 2px 4px 2px 2px;
}
.lista_convite_container .nome {
    font-size: 13px;
    height: 26px;
    padding-top: 8px;
    font-weight: bold;
}
.lista_convite_container .nome_espaco {
    /*width: 100%;*/
    padding: 4px 10px;
    margin: 4px 2px;
    font-size: 13px;
    /*line-height: 110%;*/
    color: #333;
    background-color: #eee;
    border-radius: 4px;
}
.lista_convite_container .nome_espaco:hover{
    /*text-decoration: underline;*/
    background-color: #e9e9e9;
    color: black;
    cursor: pointer;
}
.lista_convite_container .mensagem {
    font-size: 13px;
    margin-left: 11px;
    padding: 2px 6px 2px 18px;
    color: #555;
    font-style: italic;
    background-image: url('backgrounds/message_list.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 12px;
}
.lista_convite_container .descartar_btn {
    float: right;
    border: none;
    border-radius: 2px;
    padding: 2px 4px;
    color: white;
    background-color: #f45c44;/*#f24429;/*#F2371A;*/
    /*margin-top: -22px;*/
    margin: 4px 2px;
}
.lista_convite_container .descartar_btn:hover {
    background-color: #F2371A;
}
/**************************************************************************************************/
/*                                      MENSAGEM DE OLÁ                                           */
/**************************************************************************************************/
/* Container da mensagem */
.barra_usuario_ola_container {
    float: right;
    margin: 13px 5px 0 0;
}
/**************************************************************************************************/
/*                                             BUSCA                                              */
/**************************************************************************************************/
.barra_usuario_busca_container {
    /*float: left;*/
    margin: 8px 10px 0 0;
}
.barra_usuario_busca_container .caixa_texto {
    display: inline-block;
    width: 180px;
    margin-right: 20px;
}
.barra_usuario_busca_container .botao_novo_espaco {
    display: inline-block;
    
}
.barra_usuario_busca_container input[type=text] {
    width: 100%;
    padding: 11px 10px;
    border: none;
    margin-bottom: 5px;
    border-radius: 2px;
    font-size: 14px;
    background-color: #c7cdd8;
    background-image: url('backgrounds/search_icon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 26px;
}
/* Botão para listar todos os espaços com status ON */
.barra_usuario_busca_container .botao_listar_tudo {
    display: inline-block;
}
.barra_usuario_busca_container .botao_listar_tudo button {
    border: none;
    border-radius: 2px;
    padding: 11px 10px;
    background-color: #4781e5;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.barra_usuario_busca_container .botao_listar_tudo button:hover {
    background-color: #3c78e0;
}
/* Elementos exibidos quando a busca não retorna resultado */
.resultado_busca .texto_novo_espaco {
    display: inline-block;
    padding: 10px;
    font-size: 13px; /* Reavaliar */
}
.resultado_busca .botao_novo_espaco {
    display: inline-block;
    border: none;
    padding: 8px;
    margin-left: 15px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    background-color: #27c66f;
}
.resultado_busca .botao_novo_espaco:hover {
    background-color: #21bc68;
}
/*Div para exibir os resultados da busca. Tem um JS para ser mostrada e escondida e as dimensões são ajustadas para cada tamanho de tela*/
.resultado_busca {
    display: none;
    max-height: 300px;
    padding: 8px;
    position: absolute;
    overflow: auto;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2); /*Pra criar a sombra ao redor da caixa de opções do menu*/
    left: 0; /*Para que abra para a direita*/
    z-index: 1; /*Para que o contúdo do menu fique em promeiro plano*/
}
.resultado_busca_item_container {
    clear: left;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    /*margin: auto;*/
    border-bottom: 1px solid #ccc;
}
.resultado_busca_item_container:hover{background-color: #eee; cursor: pointer;}
.resultado_busca_item_bloco_esquerdo {
    float: left;
    padding: 4px;
    color: #333;
}
.resultado_busca_item_bloco_direito {
    float: right;
    padding: 4px;
    color: #555;
    font-size: 22px;
}
/**************************************************************************************************/
/*                                      LAYOUT RESPONSIVO                                         */
/**************************************************************************************************/
@media screen and (min-width: 768px) {
    .barra_usuario_busca_container .caixa_texto {
        width: 29%;
    }
}

@media screen and (min-width: 580px) {

}