/* O SIMPLES É O MAIS DIFÍCIL */

/******************************************************************************************************/
/*                                                MENU                                                */
/******************************************************************************************************/
/* Div geral para conter todos elemntos do menu */
.barra_usuario_menu {
    float: right; margin: 4px;
}
.barra_usuario_menu_botao { /* Não é possível usar apenas apenas o button, pq é preciso uma classe para ocultar o menu*/
    background-image: url('backgrounds/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    background-size: 34px;
    border-radius: 50%;
    margin: 8px 4px;/* LLLLLLLLLLLLLLLLLLLL F5*/
}
.barra_usuario_menu_botao:hover {
    background-color: #ccc;
}
.barra_usuario_menu_conteudo { /* Não é possível usar somente a ul, pq é preciso uma classe na função mostrarMenu()*/
    display: none;
    position: absolute; /* Para que seja posicionado em relação a div barra_usuario_container*/
    margin-top: 5px;
    right: 0; /* Para que a caixa de opções do menu abra para a esquerda */
    z-index: 2; /*Para que o contúdo do menu fique em promeiro plano (A frente da lista de notificações nivel 1) */
}
.barra_usuario_menu_conteudo .box {
    overflow: auto;
    background-color: #f9f9f9;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); /* Pra criar a sombra ao redor da caixa de opções do menu */
}
.barra_usuario_menu_conteudo .triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d5d5d5;
    margin-left: 145px;
    margin-bottom: -9px;
}
.barra_usuario_menu_conteudo .inner_triangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f9f9f9;
    margin-left: 145px;
    margin-bottom: -1px;
    position: relative;
    z-index: 2;
}
.barra_usuario_menu .item_menu {
    width: 150px;
    padding: 12px 14px;
    color: #353535;
    font-size: 14px;
}
.barra_usuario_menu .item_menu:hover {
    background: #eee;
}
.barra_usuario_menu_mostrar_conteudo {
    display: block;
}

/******************************************************************************************************/
/*                                        NOTIFICAÇÃO DE CONVITES                                     */
/******************************************************************************************************/
.notificacao_convites_container {
    float: right; margin: 4px;
    position: relative;
}
.notificacao_convites_container .botao_contador_container { /*Não tem função de estilo. Apenas reune o botão e o contador*/
    display: none;
}
.notificacao_convites_container .botao_lista {
    width: 29px;
    height: 29px;
    padding: 1px;
    margin-top: 10px; /* LLLLLLLLLLLLLLLLLLLL F5*/
    border-radius: 50%;
}
.notificacao_convites_container .icone_botao_lista {
    background-image: url('backgrounds/envelope2.png');
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    background-size: 28px;
}
.notificacao_convites_container .botao_lista:hover {
    background-color: #1565c0; /* LLLLLLLLLLLLLLLLLLLL F5*/
}
/* Número de convites exibido sobre o icone (Contador) */
.notificacao_convites_container .contador_convites {
    min-width: 8px;
    height: 15px;
    padding: 0 4px;
    border-radius: 8px;
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #333;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.notificacao_convites_container .contador_convites:hover {
    cursor: default;
}

/******************************************************************************************************/
/*                                         MENSAGEM DE OLÁ                                            */
/******************************************************************************************************/
.barra_usuario_ola_container {
    display: none; /* LAYOUT RESPONSIVO */
    float: right;
    margin: 19px 5px 0 0; /* LLLLLLLLLLLLLLLLLLL F5*/
    font-size: 15px;
    color: #fff;
}

/******************************************************************************************************/
/*                                              BUSCA                                                 */
/******************************************************************************************************/
.botao_pesquisar {
    display: block; /* LAYOUT RESPONSIVO */
    float: right;
    width: 30px; /* LLLLLLLLLLLLLLLLLLL F5*/
    height: 30px; /* LLLLLLLLLLLLLLLLLLL F5 */
    /*padding: 1px;*/ /* LLLLLLLLLLLLLLLLLLL OUT */
    margin: 14px 0 0 4px; /* LLLLLLLLLLLLLLLLLLL F5 */
    border-radius: 50%;
}
.botao_pesquisar_icone {
    background-image: url('backgrounds/alternate4.png'); /* LLLLLLLLLLLLLLLLLLL F5 */
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
}
.botao_pesquisar:hover {
    background-color: #1565c0; /* LLLLLLLLLLLLLLLLLLLL F5*/
}
.barra_usuario_busca_container {
    display: none; /* LAYOUT RESPONSIVO */
    /*margin-top: 8px;*/ /* LLLLLLLLLLLLLLLLLLLL OUT */
}
.barra_usuario_busca_container .caixa_texto {
    margin-top: 5px; /* LLLLLLLLLLLLLLLLLLLL NOVO */ /* Layout responsivo */
    display: inline-block;
    width: calc(100% - 10px); /* 2px de borda */
    margin-left: 4px;
}
.barra_usuario_busca_container input[type=text] {
    width: 96%;
    padding: 9px 2%;
    border: none;
    margin-bottom: 5px;
    border: 1px solid #81d4fa; /* LLLLLLLLLLLLLLLLLLLLL F5 */
    border-radius: 14px; /* LLLLLLLLLLLLLLLLLLLLL F5 */
    font-size: 14px;
    background-color: #fff;
    background-image: url('backgrounds/search_icon.png'); /* LLLLLLLLLLLLLLLLLLLLL F5 */
    background-repeat: no-repeat;
    background-position: right;
    background-size: 26px;
}
/* Botão para listar todos os espaços com status ON */
.barra_usuario_busca_container .botao_listar_tudo {
    display: inline-block;
}
.barra_usuario_busca_container .botao_listar_tudo_mobile {
    margin-top: 10px; /* LLLLLLLLLLLLLLLLLLLL NOVO */
    display: none;
}
.barra_usuario_busca_container button {
    border: none;
    border-radius: 14px; /* LLLLLLLLLLLLLLLLLLLL F5 */
    margin-left: 4px;
    padding: 9px 10px;
    background: linear-gradient(#1565c0, #1976d2); /* LLLLLLLLLLLLLLLLLLLL F5 */
    border: 1px solid #1976d2;/* LLLLLLLLLLLLLLLLLLLL F5 */
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.barra_usuario_busca_container button:hover {
    background: linear-gradient(#1976d2, #1e88e5); /* LLLLLLLLLLLLLLLLLLLL F5 */
    border: 1px solid #1e88e5; /* LLLLLLLLLLLLLLLLLLLL NOVO */
}
/* Cabeçálio dos resultados da busca */
.cabecalio_resultado_busca {
    display: none;
    padding: 19px 0 10px 4px; /* height otal da div: 47px*//* DIFERENÇA EM RELAÇÃO AO CSS DUMMY, DEVE SER MANTIDA (Algu bug na interpretação do servidor)*/
    color: #3e4859;
    font-size: 13px;
}
/* Elementos exibidos quando a busca não retorna resultado */
.resultado_busca .texto_novo_espaco {
    display: inline-block;
    padding: 10px;
    color: #555;
    font-size: 13px;
}
.resultado_busca .botao_novo_espaco {
    display: inline-block;
    border: none;
    padding: 8px;
    margin-left: 15px;
    border-radius: 10px; /* LLLLLLLLLLLLLLLLLLL F5 */
    font-weight: bold;
    color: white;
    background-color: #21bc68;
    box-shadow: 1px 1px 2px #ccc;
}
.resultado_busca .botao_novo_espaco:hover {
    background-color: #22cc70;
}
/*Div para exibir os resultados da busca. Tem um JS para ser mostrada e escondida */
.resultado_busca {
    display: none;
    width: calc(100% - 16px);
    height: calc(100% - 106px);/* DIFERENÇA EM RELAÇÃO AO CSS DUMMY, DEVE SER MANTIDA (Algu bug na interpretação do servidor)*/
    padding: 0 8px;
    overflow-y: auto;
    background-color: #f9f9f9;
}
.resultado_busca_item_container {
    clear: left;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
.resultado_busca_item_container:hover{background-color: #eee; cursor: pointer;}
.resultado_busca_item_bloco_esquerdo {
    float: left;
    max-width: 80%;/* Falta ajustar o heigth se quebrar a linha*/
    padding: 4px;
    color: #353535; /* DDDDDDDDDDDDDDDDDDDDD F5 */
}
.resultado_busca_item_bloco_direito {
    float: right;
    padding: 4px;
    color: #586782;
    font-size: 18px;
}

/******************************************************************************************************/
/*                                       LAYOUT RESPONSIVO                                            */
/******************************************************************************************************/
@media screen and (min-width: 640px) {
    .barra_usuario_ola_container {
        display: block;
    }
    .barra_usuario_busca_container {
        display: block;
    }
    .barra_usuario_busca_container .caixa_texto {
        width: 40%;
        margin-top: 10px; /* LLLLLLLLLLLLLLLLLLLL NOVO */
    }
    .botao_pesquisar {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .barra_usuario_busca_container .caixa_texto {
        width: 30%;
    }
}
@media screen and (min-width: 1366px) {

}
@media screen and (min-width: 1800px) {

}