/* O SIMPLES É O MAIS DIFÍCIL */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}
/* Coluna onde vai todo o conteúdo da página. Div mais externa. */
.coluna_central {
    width: 100%;
}
/* Links para login e cadastro. No canto superior direito. */
.container_login_cadastro {
    width: 100%; clear: right;
}
.subcontainer_login_cadastro {float: right; width: 100%;/*clear: left;*/} /* Apenas para inverter a sequencia de declaração dos elementos (navegação com Tab)*/
.container_login_cadastro button {
    /*float: left;*/ display: inline-block;
    margin: 5px 1px;
    border: none;
    color: #428BDD;
    background-color: #f9f9f9;
}
.container_login_cadastro button:hover {
    cursor: pointer;
    text-decoration: underline;
}
/*.container_form_login {float: left;}*/
.container_form_login input[type=email] {
    /*float: left;*/ display: inline-block;
    width: 44%; margin-right: 1%; padding: 2%;
    border: 1px solid #00CC7A; border-radius: 3px;
}
.container_form_login input[type=password] {
    /*float: left;*/ display: inline-block;
    width: 44%; padding: 2%;
    border: 1px solid #00CC7A; border-radius: 3px;
}
.container_login_cadastro input[type=submit]{
    /*float: left;*/ display: inline-block;
    width: 99%; padding: 2%; margin-top: 2%;
    background-color: #00CC7A; color: white;
    border: none; border-radius: 4px;
}
.container_login_cadastro input[type=submit]:hover {
    cursor: pointer;
    background-color: #00B36B;
}
/* Formulário com o input de texto para busca*/
.container_form_busca {
    width: 100%; height: 60%;
}
.container_form_busca form {
    padding-top: 40%;
}
.caixa_texto_busca {
    width: 90%;
    margin: auto;
}
/* Campo de texto de formulário  de busca. */
.caixa_texto_busca input[type=text] {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    border: 1px solid #bbb;
    border-radius: 6px;
}
/*Rodapé com o nome do projeto*/
.rodape{
    width: 100%; color: #333; text-align: center; font-size: 13px;
}
/* Div modal, baseado em: https://www.w3schools.com/howto/howto_css_modals.asp */
.modal_background {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.modal_header {
    padding: 2px 16px;
    text-align: center;
}
.modal_btn_close {
    color: #bbb;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal_btn_close:hover, .modal_btn_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal_body {
    padding: 2px 16px;
}
/**************************************************************************************************/
/*                                      LAYOUT RESPONSIVO                                         */
/**************************************************************************************************/
@media screen and (min-width: 768px) {
    /* Reconfigurando a largura da coluna central*/
    .coluna_central {width: 90%; margin: auto;}
    .caixa_texto_busca {width: 50%;}
}

@media screen and (min-width: 580px) {
    .subcontainer_login_cadastro {float: right; width: auto; clear: left;} /* Apenas para inverter a sequencia de declaração dos elementos (navegação com Tab)*/
    .container_login_cadastro button {
        float: left;
        margin: 5px 1px;
        border: none;
        color: #428BDD;
        background-color: #f9f9f9;
    }
    .container_form_login {float: left;}
    .container_form_login input[type=email] {
        float: left; /*display: inline-block;*/
        width: 130px; margin-right: 6px; padding: 4px;
        border: 1px solid #00CC7A; border-radius: 3px;
    }
    .container_form_login input[type=password] {
        float: left; /*display: inline-block;*/
        width: 130px; margin-right: 6px; padding: 4px;
        border: 1px solid #00CC7A; border-radius: 3px;
    }
    .container_login_cadastro input[type=submit]{
        float: left; /*display: inline-block;*/
        width: 50px; padding: 6px; margin-top: 0; /*margin: 5px 1px;*/
        background-color: #f9f9f9; color: #00CC79;
        border: none; border-radius: 4px;
    }
    .container_login_cadastro input[type=submit]:hover {
        cursor: pointer;
        background-color: #eee;
    }
    /* Altura da barra de busca*/
    .container_form_busca form {
        padding-top: 250px;
    }
}